<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Notre école est un foyer d'apprentissage dynamique.</h3>
        <p class="fst-italic">
          Rejoignez notre école et faites partie d'une communauté dynamique
          d'étudiants passionnés par l'IT. Ici, vous développerez non seulement
          des compétences techniques précieuses, mais vous serez également
          encouragé à explorer votre créativité, à cultiver l'esprit
          d'entreprise et à contribuer à façonner le monde numérique de demain.
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> Préparez-vous à embrasser une
            carrière excitante et à ouvrir les portes vers d'innombrables
            opportunités dans l'industrie de l'IT.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Rejoignez-nous et laissez-nous
            vous aider à réaliser votre plein potentiel dans le monde
            passionnant de l'informatique et des technologies de l'information.
          </li>
          <li>
            <i class="bi bi-check-circle"></i>Notre mission est de vous donner
            les outils nécessaires pour façonner l'avenir numérique et
            contribuer aux progrès technologiques de demain.
          </li>
        </ul>
        <p>
          Préparez-vous à transformer vos rêves en réalité et à devenir un
          acteur clé dans l'ère numérique en plein essor.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
