<div class="course-item mb-3">
  <img src="assets/img/course-3.jpg" class="img-fluid" alt="..." />
  <div class="course-content">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>{{ coursInput.name }}</h4>
    </div>
    <p>
      {{ coursInput.description }}
    </p>
    <p>
      {{ coursInput.duree }}
    </p>
    <div class="trainer d-flex justify-content-between align-items-center">
      <div class="trainer-profile d-flex align-items-center">
        <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
