<main id="main" data-aos="fade-in">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Dashboard</h2>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <div class="container">
    <ul class="nav nav-underline" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          id="cours-tab"
          data-bs-toggle="pill"
          href="#cours"
          role="tab"
          aria-controls="cours"
          aria-selected="true"
          >Cours</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          id="group-tab"
          data-bs-toggle="pill"
          href="#group"
          role="tab"
          aria-controls="group"
          aria-selected="false"
          >Groupes</a
        >
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="cours"
        role="tabpanel"
        aria-labelledby="cours-tab"
      >
        <app-courses-table></app-courses-table>
        <!-- Insérez ici le contenu relatif aux cours -->
      </div>

      <div
        class="tab-pane fade"
        id="group"
        role="tabpanel"
        aria-labelledby="group-tab"
      >
        <app-groupes-table></app-groupes-table>
        <!-- Insérez ici le contenu relatif aux groupes -->
      </div>
    </div>
  </div>
</main>
