<div class="member">
  <img src="assets/img/trainers/trainer-4.png" class="img-fluid" alt="" />
  <div class="member-content">
    <h4>{{ teacherInput.firstName }} {{ teacherInput.lastName }}</h4>
    <span>{{ teacherInput.specialite }}</span>
    <div class="social">
      <a href=""><i class="bi bi-twitter"></i></a>
      <a href=""><i class="bi bi-facebook"></i></a>
      <a href=""><i class="bi bi-instagram"></i></a>
      <a href=""><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</div>
