<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="1232"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Students</p>
        <p class="text-success">{{ studentsCount }}</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="64"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Courses</p>
        <p class="text-success">{{ coursesCount }}</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="42"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Groups</p>
        <p class="text-success">{{ groupsCount }}</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span
          data-purecounter-start="0"
          data-purecounter-end="15"
          data-purecounter-duration="1"
          class="purecounter"
        ></span>
        <p>Trainers</p>
        <p class="text-success">{{ teachersCount }}</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
