<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Choose Mentor?</h3>
          <p>
            Join our school and immerse yourself in an immersive educational
            experience that will prepare you for a dynamic and exciting career
            in the IT industry. Our mission is to give you the tools to shape
            the digital future and contribute to the technological advancements
            of tomorrow. Get ready to join a community of dedicated learners,
            innovators and thought leaders who are all driven by a passion to
            push the boundaries of IT. Together, we will create a future where
            breakthrough technologies are within everyone's reach, where
            innovative ideas become reality, and where everyone can help shape
            an advanced digital society.
          </p>
        </div>
      </div>
      <div
        class="col-lg-8 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Get ready</h4>
                <p>
                  to turn your dreams into reality and become a key player in
                  the booming digital age
                </p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>we will perform wonders</h4>
                <p>in the exciting world of computing and technology</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Our mission</h4>
                <p>
                  is to give you the tools to shape the digital future and
                  contribute to the technological advancements of tomorrow
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->
